<?xml version="1.0"?>
<config>
    <modules>
        <Krombox_PromotionsTimeRules>
            <version>1.0.0</version>
        </Krombox_PromotionsTimeRules>
    </modules>
    <global>
        <models>
            <krombox_promotionstimerules>
                <class>Krombox_PromotionsTimeRules_Model</class>
                <resourceModel>krombox_promotionstimerules_resource</resourceModel>
            </krombox_promotionstimerules>
            <krombox_promotionstimerules_resource>
                <class>Krombox_PromotionsTimeRules_Model_Resource</class>
            </krombox_promotionstimerules_resource>
            <catalogrule>
                <rewrite>
                    <rule>Krombox_PromotionsTimeRules_Model_CatalogRule_Rule</rule>
                </rewrite>
            </catalogrule>
            <salesrule>
                <rewrite>
                    <rule>Krombox_PromotionsTimeRules_Model_SalesRule_Rule</rule>
                </rewrite>
            </salesrule>
            <rule>
                <rewrite>
                    <rule>Krombox_PromotionsTimeRules_Model_Rule_Rule</rule>
                </rewrite>
            </rule>
            <salesrule_resource>
                <rewrite>
                    <rule_collection>Krombox_PromotionsTimeRules_Model_Resource_SalesRule_Rule_Collection</rule_collection>
                </rewrite>
            </salesrule_resource>
            <catalogrule_resource>
                <rewrite>
                    <rule_collection>Krombox_PromotionsTimeRules_Model_Resource_CatalogRule_Rule_Collection</rule_collection>
                </rewrite>
            </catalogrule_resource>
        </models>
        <blocks>
            <krombox_promotionstimerules>
                <class>Orange35_SalesruleTime_Block</class>
            </krombox_promotionstimerules>
        </blocks>
        <resources>
            <krombox_promotionstimerules_setup>
                <setup>
                    <module>Krombox_PromotionsTimeRules</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </krombox_promotionstimerules_setup>
        </resources>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <krombox_promotionstimerules before = "Mage_Adminhtml">Krombox_PromotionsTimeRules_Adminhtml</krombox_promotionstimerules>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <events>
            <adminhtml_promo_quote_edit_tab_main_prepare_form>
                <observers>
                    <krombox_promotionstimerules_quote_edit_tab_main_prepare_form>
                        <type>singleton</type>
                        <class>krombox_promotionstimerules/observer</class>
                        <method>adminhtmlPromoQuoteEditTabMainPrepareForm</method>
                    </krombox_promotionstimerules_quote_edit_tab_main_prepare_form>
                </observers>
            </adminhtml_promo_quote_edit_tab_main_prepare_form>
            <adminhtml_promo_catalog_edit_tab_main_prepare_form>
                <observers>
                    <krombox_promotionstimerules_catalog_edit_tab_main_prepare_form>
                        <type>singleton</type>
                        <class>krombox_promotionstimerules/observer</class>
                        <method>adminhtmlPromoCatalogEditTabMainPrepareForm</method>
                    </krombox_promotionstimerules_catalog_edit_tab_main_prepare_form>
                </observers>
            </adminhtml_promo_catalog_edit_tab_main_prepare_form>
        </events>
    </adminhtml>
</config>